<!-- <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="d-flex flex-column">
    <div class="card-body">
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="email">Фамилия</label>
              <input formControlName='email' type="text" class="form-control" id="login" placeholder="Фамилия">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="firstName">Имя</label>
              <input formControlName='firstName' type="text" class="form-control" id="firstName" placeholder="Имя">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="middleName">Отчество</label>
              <input formControlName='middleName' type="text" class="form-control" id="middleName" placeholder="Отчество">
            </div>
          </div>
        </div>
  <mat-form-field>
    <input matInput  formControlName="firstName" placeholder="Имя">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="lastName" placeholder="Фамилия">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="email" placeholder="Email">
    <mat-error>Неккоректный Email</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="password" placeholder="Пароль">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="repeatedPassword" placeholder="Повторите пароль">
  </mat-form-field>
  <button mat-raised-button color="primary" >Отправить</button>
</form> -->
