<div [formGroup]="parentForm">
  <div class="form-row align-items-center">
    <div class="col-md-7">
        <div class="form-group">
          <label for="objectId">Предмет</label>
          <select class="form-control" formControlName="objectId" id="objectId">
            <option
            *ngFor= "let item of this.listOfObjects; let i=index"
            [value]="item.objectId"
            >
              {{item.name}}
            </option>
          </select>
        </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="point">Балл</label>
        <input 
          type="text"
          class="form-control"
          id="point"
          placeholder="Балл"
          formControlName="point"
          >
        </div>
    </div>
    <div class="col-md-2 pt-md-3">
        <button (click)="removeExam()" type="button" class="btn btn-outline-danger btn-block ">Удалить</button>
    </div>
  </div>
</div>
<hr>