<div [formGroup]="parentForm">
  <div class="form-row">
    <div class="col-md-8">
        <div class="form-group">
          <label for="ObjectId">Предмет</label>
          <select class="form-control" formControlName="ObjectId" id="ObjectId">
            <option
            *ngFor= "let item of this.listOfObjects; let i=index"
            [value]="item.objectId"
            >
              {{item.name}}
            </option>
          </select>
        </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="Point">Балл</label>
        <input 
          type="text"
          class="form-control"
          id="Point"
          placeholder="Название"
          formControlName="Point"
          >
        </div>
    </div>
  </div>
</div>
<hr>