<form (ngSubmit)="onSubmit()">
  <h2>Персональная информация</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="surename">Фамилия</label>
          <input type="text" class="form-control" id="surename" placeholder="Фамилия">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="name">Имя</label>
          <input type="text" class="form-control" id="name" placeholder="Имя">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="middle-name">Отчество</label>
          <input type="text" class="form-control" id="middle-name" placeholder="Отчество">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
              <label for="gender">Пол</label>
              <select class="form-control" id="gender">
                <option>Мужской</option>
                <option>Женский</option>
              </select>
            </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="date-of-birth">Дата рождения</label>
            <input type="text" class="form-control" id="date-of-birth" placeholder="Дата рождения">
          </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
              <label for="place-of-birth">Место рождения</label>
              <input type="text" class="form-control" id="place-of-birth" placeholder="Место рождения">
            </div>
        </div>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="citizenship">Гражданство</label>
            <input type="text" class="form-control" id="citizenship" placeholder="Гражданство">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="phone">Телефон</label>
            <input type="text" class="form-control" id="phone" placeholder="Телефон">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="homePhone">Домашний телефон</label>
            <input type="text" class="form-control" id="homePhone" placeholder="Домашний телефон">
          </div>
        </div>
      </div>
  </div>
  <div class="col-sm-12">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
  </div>
  <h2>Паспортные данные</h2>
  <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="passportSeries">Серия</label>
            <input type="text" class="form-control" id="passportSeries" placeholder="Серия">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="passportNumber">Номер</label>
            <input type="text" class="form-control" id="passportNumber" placeholder="Номер">
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="passportDepartment">Кем выдан</label>
              <input type="text" class="form-control" id="passportDepartment" placeholder="Кем выдан">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="passportDate">Дата выдачи</label>
              <input type="text" class="form-control" id="passportDate" placeholder="Дата выдачи">
            </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="regAddress">Адрес по прописке</label>
            <input type="text" class="form-control" id="regAddress" placeholder="Адрес по прописке">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="factAddress">Адрес фактического проживания</label>
            <input type="text" class="form-control" id="factAddress" placeholder="Адрес фактического проживания">
          </div>
        </div>
      </div>
  </div>
  <h2>Информация для поступления</h2>
  <h3>Результаты экзаменов</h3>
  <app-exam></app-exam>
  <h3>Направления</h3>
  <app-direction></app-direction>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>