<div class="card mt-2" *ngIf="!auth.isAuthenticated()">
  <div class="card-header">Необходима авторизация</div>
  <div class="card-body">
    Для того, что бы подать заявку необходимо 
    <span class="text-primary" (click)="auth.login()">авторизоваться</span>
  </div>
</div>

<form *ngIf="auth.isAuthenticated()" [formGroup] = 'applicationMainInfo' (ngSubmit)="onSubmit()">
  <div class="card mt-2">
    <div class="card-header">Персональная информация</div>
    <div class="card-body">
      <div class="form-row">
        <div class="col-lg">
          <div class="form-group">
            <label for="surename">Фамилия</label>
            <input formControlName='surename' type="text" class="form-control " id="surename" placeholder="Фамилия" 
              [ngClass]="{'is-invalid': applicationMainInfo.controls['surename'].invalid &&
              (applicationMainInfo.controls['surename'].dirty || applicationMainInfo.controls['surename'].touched) }"
            >
            <div class="invalid-feedback">
              Поле не должно быть пустым
            </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="form-group">
            <label for="name">Имя</label>
            <input formControlName='name' type="text" class="form-control" id="name" placeholder="Имя"
              [ngClass]="{'is-invalid': applicationMainInfo.controls['name'].invalid &&
              (applicationMainInfo.controls['name'].dirty || applicationMainInfo.controls['name'].touched) }"
            >
            <div class="invalid-feedback">
              Поле не должно быть пустым
            </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="form-group">
            <label for="middleName">Отчество</label>
            <input formControlName='middleName' type="text" class="form-control" id="middleName" placeholder="Отчество"
              [ngClass]="{'is-invalid': applicationMainInfo.controls['middleName'].invalid &&
              (applicationMainInfo.controls['middleName'].dirty || applicationMainInfo.controls['middleName'].touched) }"
            >
            <div class="invalid-feedback">
              Поле не должно быть пустым
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
          <div class="col-lg col-md-6">
            <div class="form-group">
                <label for="gender">Пол</label>
                <select formControlName='gender' class="form-control" id="gender"
                  [ngClass]="{'is-invalid': applicationMainInfo.controls['gender'].invalid &&
                  (applicationMainInfo.controls['gender'].dirty || applicationMainInfo.controls['gender'].touched) }"
                >
                  <option value="">Выберите...</option>
                  <option value="true">Мужской</option>
                  <option value="false">Женский</option>
                </select>
                <div class="invalid-feedback">
                  Поле не должно быть пустым
                </div>
              </div>
          </div>
          <div class="col-lg col-md-6">
            <div class="form-group">
              <label for="dateOfBirth">Дата рождения</label>
              <input formControlName="dateOfBirth" type="date" class="form-control" id="dateOfBirth" placeholder="Дата рождения"
                [ngClass]="{'is-invalid': applicationMainInfo.controls['dateOfBirth'].invalid &&
                (applicationMainInfo.controls['dateOfBirth'].dirty || applicationMainInfo.controls['dateOfBirth'].touched) }"
              >
              <div class="invalid-feedback">
              Поле не должно быть пустым
              </div>
            </div>
          </div>
          <div class="col-lg col-md-12">
              <div class="form-group">
                <label for="birthplace">Место рождения</label>
                <input formControlName="birthplace" type="text" class="form-control" id="birthplace" placeholder="Место рождения"
                  [ngClass]="{'is-invalid': applicationMainInfo.controls['birthplace'].invalid &&
                  (applicationMainInfo.controls['birthplace'].dirty || applicationMainInfo.controls['birthplace'].touched) }"
                >
                <div class="invalid-feedback">
                  Поле не должно быть пустым
                </div>
              </div>
          </div>
      </div>
      <div class="form-row">
        <div class="col-lg col-md-12">
          <div class="form-group">
            <label for="citizenship">Гражданство</label>
            <input  formControlName='citizenship' type="text" class="form-control" id="citizenship" placeholder="Гражданство"
              [ngClass]="{'is-invalid': applicationMainInfo.controls['citizenship'].invalid &&
              (applicationMainInfo.controls['citizenship'].dirty || applicationMainInfo.controls['citizenship'].touched) }"
            >
            <div class="invalid-feedback">
              Поле не должно быть пустым
            </div>
          </div>
        </div>
        <div class="col-lg col-md-6">
          <div class="form-group">
            <label for="Phone">Телефон</label>
            <input formControlName='phone' type="text" class="form-control" id="phone" placeholder="+79876543210"
              [ngClass]="{'is-invalid': applicationMainInfo.controls['phone'].invalid &&
              (applicationMainInfo.controls['phone'].dirty || applicationMainInfo.controls['phone'].touched) }"
            >
            <div class="invalid-feedback">
              <span *ngIf="applicationMainInfo.controls['phone'].hasError('required')" >
                Поле не должно быть пустым 
              </span>
              <span *ngIf="applicationMainInfo.controls['phone'].hasError('pattern')">
                Введите телефон в формате +79876543210
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg col-md-6">
          <div class="form-group">
            <label for="phoneHome">Домашний телефон</label>
            <input formControlName='phoneHome' type="text" class="form-control" id="phoneHome" placeholder="Домашний телефон"
              [ngClass]="{'is-invalid': applicationMainInfo.controls['phoneHome'].invalid &&
              (applicationMainInfo.controls['phoneHome'].dirty || applicationMainInfo.controls['phoneHome'].touched) }"
            >
            <div class="invalid-feedback">
              Поле не должно быть пустым
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
            <div class="form-group">
              <label for="Email">Email</label>
              <input formControlName='email' type="email" class="form-control" id="email" placeholder="Email"
                [ngClass]="{'is-invalid': applicationMainInfo.controls['email'].invalid &&
                (applicationMainInfo.controls['email'].dirty || applicationMainInfo.controls['email'].touched) }"
              >
              <div class="invalid-feedback">
                <span *ngIf="applicationMainInfo.controls['email'].hasError('required')" >
                  Поле не должно быть пустым 
                </span>
                <span *ngIf="applicationMainInfo.controls['email'].hasError('email') && !applicationMainInfo.controls['email'].hasError('required')">
                  Введите действительный email
                </span>
              </div>
            </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
              <label for="language">Язык</label>
              <select formControlName='language' class="form-control" id="language"
                [ngClass]="{'is-invalid': applicationMainInfo.controls['language'].invalid &&
                (applicationMainInfo.controls['language'].dirty || applicationMainInfo.controls['language'].touched) }"
              >
                <option value="">Выберите...</option>
                <option value="en">Английский</option>
                <option value="de">Немецкий</option>
                <option value="fr">Французский</option>
              </select>
              <div class="invalid-feedback">
                  Поле не должно быть пустым
              </div>
            </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
              <label for="needOfHostel">Нужда в общежитии</label>
              <select formControlName='needOfHostel' class="form-control" id="needOfHostel"
                [ngClass]="{'is-invalid': applicationMainInfo.controls['needOfHostel'].invalid &&
                (applicationMainInfo.controls['needOfHostel'].dirty || applicationMainInfo.controls['needOfHostel'].touched) }"
              >
                <option value="">Выберите...</option>
                <option value="true">Да</option>
                <option value="false">Нет</option>
              </select>
              <div class="invalid-feedback">
                  Поле не должно быть пустым
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-header">Паспортные данные</div>
    <div class="card-body">
      <div formGroupName='passport'>
        <div class="form-row">
          <div class="col-md col-12">
            <div class="form-group">
              <label for="series">Серия</label>
              <input formControlName='series'type="text" class="form-control" id="series" placeholder="Серия"
                [ngClass]="{'is-invalid': applicationMainInfo.controls['passport'].controls['series'].invalid &&
                (applicationMainInfo.controls['passport'].controls['series'].dirty || applicationMainInfo.controls['passport'].controls['series'].touched) }"
              >
              <div class="invalid-feedback">
                <span *ngIf="applicationMainInfo.controls['passport'].controls['series'].hasError('required')" >
                  Поле не должно быть пустым 
                </span>
                <span *ngIf="applicationMainInfo.controls['passport'].controls['series'].hasError('pattern')">
                  Введите действительные данные
                </span>
              </div>
            </div>
          </div>
          <div class="col-md col-12">
            <div class="form-group">
              <label for="number">Номер</label>
              <input formControlName='number' type="text" class="form-control" id="number" placeholder="Номер"
                [ngClass]="{'is-invalid': applicationMainInfo.controls['passport'].controls['series'].invalid &&
                (applicationMainInfo.controls['passport'].controls['series'].dirty || applicationMainInfo.controls['passport'].controls['series'].touched) }"
              >
              <div class="invalid-feedback">
                <span *ngIf="applicationMainInfo.controls['passport'].controls['number'].hasError('required')" >
                  Поле не должно быть пустым 
                </span>
                <span *ngIf="applicationMainInfo.controls['passport'].controls['number'].hasError('pattern')">
                  Введите действительные данные
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="department">Кем выдан</label>
                <input formControlName='department' type="text" class="form-control" id="department" placeholder="Кем выдан"
                  [ngClass]="{'is-invalid': applicationMainInfo.controls['passport'].controls['department'].invalid &&
                  (applicationMainInfo.controls['passport'].controls['department'].dirty || applicationMainInfo.controls['passport'].controls['department'].touched) }"
                >
                <div class="invalid-feedback">
                  Поле не должно быть пустым
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="dateOfIssue">Дата выдачи</label>
                <input formControlName='dateOfIssue' type="date" class="form-control" id="dateOfIssue" placeholder="Дата выдачи"
                  [ngClass]="{'is-invalid': applicationMainInfo.controls['passport'].controls['dateOfIssue'].invalid &&
                  (applicationMainInfo.controls['passport'].controls['dateOfIssue'].dirty ||
                  applicationMainInfo.controls['passport'].controls['dateOfIssue'].touched) }"
                >
                <div class="invalid-feedback">
                  Поле не должно быть пустым
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="addressPasport">Адрес по прописке</label>
            <input formControlName='addressPasport' type="text" class="form-control" id="addressPasport" placeholder="Адрес по прописке">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="addressFact">Адрес фактического проживания</label>
            <input formControlName='addressFact' type="text" class="form-control" id="addressFact" placeholder="Адрес фактического проживания">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-header">Данные о предыдушем образовании</div>
    <div class="card-body">
      <app-education 
        *ngFor="let item of applicationMainInfo.controls['educations'].controls; let i = index"
        [parentForm]="applicationMainInfo.get('educations')"
        [formGroupIndex] = "i"
        [listOfInstitutionTypes]= "institutionTypes"
        [listOfCertificateTypes] = "certificateTypes"
      >
      </app-education>
    </div>
    <div class="card-footer">
      <button (click)='onAddEducation()' type="button" class="btn btn-primary ">Добавить</button>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-header">Результаты экзаменов</div>
    <div class="card-body">
      <app-exam
      *ngFor="let item of applicationMainInfo.controls['exams'].controls; let i = index"
      [parentForm]="applicationMainInfo.get('exams')"
      [formGroupIndex] = "i"
      [listOfObjects]= "objects"
      ></app-exam>
    </div>
    <div class="card-footer">
        <button (click)='onAddExam()' type="button" class="btn btn-primary ">Добавить</button>
    </div>
  </div>
  <div class="card mt-2">
      <div class="card-header">Направления</div>
      <div class="card-body">
        <app-direction
          *ngFor="let item of applicationMainInfo.controls['applications'].controls; let i = index"
          [parentForm]="applicationMainInfo.get('applications')"
          [formGroupIndex] = "i"
          [listOfFaculties]= "faculties"
          [listOfDirections] = "directions"
        >

        </app-direction>
      </div>
      <div class="card-footer">
          <button (click)='onAddDirection()' type="button" class="btn btn-primary ">Добавить</button>
      </div>
  </div>
  <div class="card mt-2">
      <div class="card-header">Награды</div>
      <div class="card-body">
        <app-reward
          *ngFor="let item of applicationMainInfo.controls['rewards'].controls; let i = index"
          [parentForm]="applicationMainInfo.get('rewards')"
          [formGroupIndex] = "i"
        >
        </app-reward>
      </div>
      <div class="card-footer">
          <button (click)='onAddReward()' type="button" class="btn btn-primary ">Добавить</button>
      </div>
  </div>
  <div class="card mt-2">
    <div class="card-header">Особые условия поступления</div>
    <div class="card-body">
      <app-privilege
        *ngFor="let item of applicationMainInfo.controls['privileges'].controls; let i = index"
        [parentForm]="applicationMainInfo.get('privileges')"
        [formGroupIndex] = "i"
      >
      </app-privilege>
    </div>
    <div class="card-footer">
        <button (click)='onAddPrivilege()' type="button" class="btn btn-primary">Добавить</button>
    </div>
</div>
  <div class="card mt-2">
    <div class="card-header">Воинская обязанность</div>
    <div class="card-body">
      <div formGroupName='military'>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="city">Город</label>
              <input formControlName='city'type="text" class="form-control" id="city" placeholder="Город">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="group">Группа учета</label>
              <select formControlName='group' class="form-control" id="group">
                <option value="А">A</option>
                <option value="Б">Б</option>
                <option value="В">В</option>
                <option value="Г">Г</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="number">Название военкомата</label>
              <input formControlName='name' type="text" class="form-control" id="name" placeholder="Название военкомата">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" [disabled] = "applicationMainInfo.invalid" class="btn btn-primary">Отправить</button>
  <button type="submit" class="btn btn-primary">Отправить(в обход валидации)</button>
  <!-- <button (click)="onClick()" class="btn btn-primary">Получить профиль</button> -->
</form>

<pre>
  {{applicationMainInfo.value | json}}
</pre>