<form [formGroup] = 'ApplicationMainInfo' (ngSubmit)="onSubmit()">
  <div class="card mt-2">
    <div class="card-header">Персональная информация</div>
    <div class="card-body">
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="Surename">Фамилия</label>
            <input formControlName='Surename' type="text" class="form-control" id="Surename" placeholder="Фамилия">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="name">Имя</label>
            <input formControlName='name' type="text" class="form-control" id="name" placeholder="Имя">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="MiddleName">Отчество</label>
            <input formControlName='MiddleName' type="text" class="form-control" id="MiddleName" placeholder="Отчество">
          </div>
        </div>
      </div>
      <div class="form-row">
          <div class="col">
            <div class="form-group">
                <label for="Gender">Пол</label>
                <select formControlName='Gender' class="form-control" id="Gender">
                  <option value="male">Мужской</option>
                  <option value="female">Женский</option>
                </select>
              </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="DateOfBirth">Дата рождения</label>
              <input formControlName="DateOfBirth" type="text" class="form-control" id="DateOfBirth" placeholder="Дата рождения">
            </div>
          </div>
          <div class="col">
              <div class="form-group">
                <label for="Birthplace">Место рождения</label>
                <input formControlName="Birthplace" type="text" class="form-control" id="Birthplace" placeholder="Место рождения">
              </div>
          </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="Citizenship">Гражданство</label>
            <input  formControlName='Citizenship' type="text" class="form-control" id="Citizenship" placeholder="Гражданство">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="Phone">Телефон</label>
            <input formControlName='Phone' type="text" class="form-control" id="Phone" placeholder="Телефон">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="PhoneHome">Домашний телефон</label>
            <input formControlName='PhoneHome' type="text" class="form-control" id="PhoneHome" placeholder="Домашний телефон">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
            <div class="form-group">
              <label for="Email">Email</label>
              <input formControlName='Email' type="Email" class="form-control" id="email" placeholder="Email">
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-header">Паспортные данные</div>
    <div class="card-body">
      <div formGroupName='Passport'>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="Series">Серия</label>
              <input formControlName='Series'type="text" class="form-control" id="Series" placeholder="Серия">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="Number">Номер</label>
              <input formControlName='Number' type="text" class="form-control" id="Number" placeholder="Номер">
            </div>
          </div>
        </div>
        <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="Department">Кем выдан</label>
                <input formControlName='Department' type="text" class="form-control" id="Department" placeholder="Кем выдан">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="DateOfIssue">Дата выдачи</label>
                <input formControlName='DateOfIssue' type="text" class="form-control" id="DateOfIssue" placeholder="Дата выдачи">
              </div>
            </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="AddressPasport">Адрес по прописке</label>
            <input formControlName='AddressPasport' type="text" class="form-control" id="AddressPasport" placeholder="Адрес по прописке">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="AddressFact">Адрес фактического проживания</label>
            <input formControlName='AddressFact' type="text" class="form-control" id="AddressFact" placeholder="Адрес фактического проживания">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-header">Данные о предыдушем образовании</div>
    <div class="card-body">
      <app-education 
        *ngFor="let item of ApplicationMainInfo.controls['Educations'].controls; let i = index"
        [parentForm]="ApplicationMainInfo.get('Educations')"
        [formGroupIndex] = "i"
        [listOfInstitutionTypes]= "institutionTypes"
        [listOfCertificateTypes] = "certificateTypes"
      >
      </app-education>
    </div>
    <div class="card-footer">
      <button (click)='onAddEducation()' type="button" class="btn btn-primary ">Добавить</button>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-header">Результаты экзаменов</div>
    <div class="card-body">
      <app-exam
      *ngFor="let item of ApplicationMainInfo.controls['Exams'].controls; let i = index"
      [parentForm]="ApplicationMainInfo.get('Exams')"
      [formGroupIndex] = "i"
      [listOfObjects]= "objects"
      ></app-exam>
    </div>
    <div class="card-footer">
        <button (click)='onAddExam()' type="button" class="btn btn-primary ">Добавить</button>
    </div>
  </div>
  <div class="card mt-2">
      <div class="card-header">Направления</div>
      <div class="card-body">
        <app-direction
          *ngFor="let item of ApplicationMainInfo.controls['Applications'].controls; let i = index"
          [parentForm]="ApplicationMainInfo.get('Applications')"
          [formGroupIndex] = "i"
          [listOfFaculties]= "faculties"
          [listOfDirections] = "directions"
        >

        </app-direction>
      </div>
      <div class="card-footer">
          <button (click)='onAddDirection()' type="button" class="btn btn-primary ">Добавить</button>
      </div>
  </div>
  <div class="card mt-2">
      <div class="card-header">Награды</div>
      <div class="card-body">
        <app-reward
          *ngFor="let item of ApplicationMainInfo.controls['Rewards'].controls; let i = index"
          [parentForm]="ApplicationMainInfo.get('Rewards')"
          [formGroupIndex] = "i"
        >
        </app-reward>
      </div>
      <div class="card-footer">
          <button (click)='onAddReward()' type="button" class="btn btn-primary ">Добавить</button>
      </div>
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>

<pre>
  {{ApplicationMainInfo.value | json}}
</pre>