<div  [formGroup]="parentForm">
  <div class="form-row">
    <div class="col-md">
      <div class="form-group">
        <label for="InstitutionTypeId">Тип образовательного учреждения</label>
        <select class="form-control" formControlName="InstitutionTypeId" id="InstitutionTypeId">
            <option
            *ngFor= "let item of this.listOfInstitutionTypes; let i=index"
            [value]="item.institutionTypeId"
           >
             {{item.name}}
           </option>
        </select>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <label for="CertificateTypeId">Тип документа об образовании</label>
        <select class="form-control" formControlName="CertificateTypeId" id="CertificateTypeId">
          <option
           *ngFor= "let item of this.listOfCertificateTypes; let i=index"
           [value]="item.certificateTypeId"
          >
            {{item.name}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-9">
      <div class="form-group">
        <label for="InstitutionName">Название образовательного учреждения</label>
        <input 
          type="text"
          class="form-control"
          id="InstitutionName"
          placeholder="Название"
          formControlName="InstitutionName"
        >
      </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
          <label for="Point">Средний балл</label>
          <input 
            type="text"
            class="form-control"
            id="Point"
            placeholder="балл"
            formControlName="Point"
          >
        </div>
      </div>
  </div>
</div>
<hr>