<div class="well">
  <div class="form-row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="educationType">Тип образовательного учреждения</label>
        <select class="form-control" id="educationType">
          <option>Тип 1</option>
          <option>Тип 2</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="certificateType">Тип документа об образовании</label>
        <select class="form-control" id="certificateType">
          <option>Тип 1</option>
          <option>Тип 2</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="educationName">Название образовательного учреждения</label>
        <input type="text" class="form-control" id="educationName" placeholder="Название">
      </div>
    </div>
  </div>
</div>