<div  [formGroup]="parentForm">
  <div class="form-row">
    <div class="col-md">
      <div class="form-group">
        <label for="institutionTypeId">Тип образовательного учреждения</label>
        <select class="form-control" formControlName="institutionTypeId" id="institutionTypeId">
            <option
            *ngFor= "let item of this.listOfInstitutionTypes; let i=index"
            [value]="item.institutionTypeId"
           >
             {{item.name}}
           </option>
        </select>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <label for="certificateTypeId">Тип документа об образовании</label>
        <select class="form-control" formControlName="certificateTypeId" id="certificateTypeId">
          <option
           *ngFor= "let item of this.listOfCertificateTypes; let i=index"
           [value]="item.certificateTypeId"
          >
            {{item.name}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-9">
      <div class="form-group">
        <label for="institutionName">Название образовательного учреждения</label>
        <input 
          type="text"
          class="form-control"
          id="institutionName"
          placeholder="Название"
          formControlName="institutionName"
        >
      </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
          <label for="point">Средний балл</label>
          <input 
            type="text"
            class="form-control"
            id="point"
            placeholder="Балл"
            formControlName="point"
          >
        </div>
      </div>
  </div>
</div>
<hr>