<div class="card mt-2" *ngIf="!auth.isAuthenticated()">
  <div class="card-header">Необходима авторизация</div>
  <div class="card-body">
    Для того, что бы подать заявку необходимо 
    <span class="text-primary" (click)="auth.login()">авторизоваться</span>
  </div>
</div>

<div class="card mt-2" *ngIf="auth.isAuthenticated()">
  <div class="card-header">Статус вашего заявления</div>
  <div class="card-body" >
      Текущий статус: <span>{{status}}</span>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Имя</th>
              <th scope="col">Фамилия</th>
              <th scope="col">Отчество</th>
              <th scope="col">email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{application['name']}}</td>
              <td>{{application['surename']}}</td>
              <td>{{application['middleName']}}</td>
              <td>{{application['email']}}</td>
            </tr>
          </tbody>
        </table>
    <hr>
    <button (click)="onClick()" class="btn btn-primary"> Редактировать </button>
  </div>
</div>