<div class="card mt-2">
    <div class="card-header">
        О ЯГТУ
    </div>
    <div class="card-body" style="width: 50rem;">
      <p class="card-text">
          ЯГТУ — один из крупнейших технических вузов Верхневолжского региона России,
          в котором обучаются по очной и заочной форме почти 5000 студентов. Вуз готовит
          специалистов по 60 профилям, программам и специализациям на химико-технологическом, 
          машиностроительном, автомеханическом, архитектурно-строительном, инженерно-экономическом и заочном факультетах.
      </p>
      <p class="card-text">
          В ЯГТУ ведется большая научно-исследовательская деятельность.
          Университет сотрудничает с крупными промышленными предприятиями и органами власти, налаживает международные связи.
      </p>
      <p class="card-text">
        На данном сайте вы можете <a class=" card-link" [routerLink]='["/application/new"]'>подать заявку</a> на поступление.
      </p>
    </div>
  </div>