<div class="card mt-2">
    <div class="card-body" >
    <h2 class="card-title">О ЯГТУ</h2>
    <p class="card-text">
        ЯГТУ — один из крупнейших технических вузов Верхневолжского региона России,
        в котором обучаются по очной и заочной форме почти 5000 студентов. Вуз готовит
        специалистов по 60 профилям, программам и специализациям
        на химико-технологическом,машиностроительном, автомеханическом,
        архитектурно-строительном, инженерно-экономическом и заочном факультетах.

        В ЯГТУ ведется большая научно-исследовательская деятельность.
        Университет сотрудничает с крупными промышленными предприятиями
        и органами власти, налаживает международные связи.
    </p>
      <a class="btn btn-primary" [routerLink]='["/application/new"]' >Подать заявку</a>
    </div>
  </div>