<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class='navbar-brand' [routerLink]='["/"]'>
        <img src="../../assets/ystu.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Кабинет ЯГТУ
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li>
                <a class="nav-item nav-link" [routerLink]='' (click)='onClick()' *ngIf="!auth.isAuthenticated()">Войти/Регистрация</a>
                <a class="nav-item nav-link" [routerLink]='' (click)='onClick()' *ngIf="auth.isAuthenticated()">Выйти</a>
            </li>
            <li>
                <a class="nav-item nav-link" [routerLink]='["/application/new"]' (click)='collapse()'>Подать заявку</a>
            </li>
            <li>
                <a class="nav-item nav-link" [routerLink]='["/status"]' *ngIf="auth.isAuthenticated()" (click)='collapse()' >Проверить статус</a>
            </li>
            <li>
                <a class="nav-item nav-link" [routerLink]='["/administration"]' *ngIf="auth.isAdmin()"(click)='collapse()'>Администрирование</a>
            </li>
        </ul>
    </div>
</nav>
