<div [formGroup]="parentForm">
    <div class="form-row">
      <div class="col-md-6">
          <div class="form-group">
            <label for="facultyId">Факультет</label>
            <select class="form-control" formControlName="facultyId" id="facultyId">
              <option
              *ngFor= "let item of this.listOfFaculties; let i=index"
              [value]="item.facultyId"
              >
                {{item.name}}
              </option>
            </select>
          </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="directionId">Направление</label>
          <select class="form-control" formControlName="directionId" id="directionId">
            <option
              *ngFor= "let item of this.listOfDirections; let i=index"
              [value]="item.directionId"
            >
              {{item.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <hr>