<div [formGroup]="parentForm">
    <div class="form-row">
      <div class="col-md-6">
          <div class="form-group">
            <label for="FacultyId">Факультет</label>
            <select class="form-control" formControlName="FacultyId" id="FacultyId">
              <option
              *ngFor= "let item of this.listOfFaculties; let i=index"
              [value]="item.facultyId"
              >
                {{item.name}}
              </option>
            </select>
          </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="DirectionId">Направление</label>
          <select class="form-control" formControlName="DirectionId" id="DirectionId">
            <option
              *ngFor= "let item of this.listOfDirections; let i=index"
              [value]="item.directionId"
            >
              {{item.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <hr>